{% extends 'base.html.twig' %}

{% block title %}Modele index{% endblock %}

{% block body %}
    <div class="white-box">
        <h1 class="text-center">Vue de tout les Modèles</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Modele</th>
                <th>Marque</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for modele in modeles %}
                <tr>
                    <td>{{ modele.id }}</td>
                    <td>{{ modele.modele }}</td>
                    <td>{{ modele.marque }}</td>
                    <td>
                        <a href="{{ path('app_modele_show', {'id': modele.id}) }}">Voir</a>
                        <a href="{{ path('app_modele_edit', {'id': modele.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_modele_new') }}">Nouveau</a><br>
        <a href="{{ path('app_admin') }}">← Retour à la liste</a>

    </div>

{% endblock %}
