{% extends 'base.html.twig' %}

{% block title %}
    ensemble des modèles
{% endblock %}

{% block body %}
    <table>
        <tr>
            <td>id</td>
            <td>marque</td>
            <td>modele</td>
            <td>action</td>
        </tr>
        {% for modele in modeles %}
        <tr>
            <td>{{ modele.id }}</td>
            <td>{{ modele.marque }}</td>
            <td>{{ modele.modele }}</td>
            <td><a href="{{path('app_modele_edit',{'id':modele.id}) }}">Modifier</a> <a href="{{path('app_modele_delete',{'id':modele.id}) }}">Supprimer</a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ path('app_modele_new') }}">Ajouter un modèle</a>
{% endblock %}

