{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <div class="white-box">
        <h1 class="text-center">Information de {{ utilisateur.email }} </h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ utilisateur.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ utilisateur.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ utilisateur.roles ? utilisateur.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Modèle</th>
                <td>
                    {% if 'ROLE_PILOTE' in utilisateur.roles and utilisateur.refModele %}
                        {{ utilisateur.refModele.marque ~ ' - ' ~ utilisateur.refModele.modele }}
                    {% else %}
                        Non Pilote
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ utilisateur.prenom }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ utilisateur.ville }}</td>
            </tr>
            <tr>
                <th>Date_naissance</th>
                <td>{{ utilisateur.dateNaissance ? utilisateur.dateNaissance|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>
        {{ include('utilisateur/_delete_form.html.twig') }}

        <a href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}">Modifier</a>
        <br>
        <a href="{{ path('app_utilisateur_index') }}">← Retour à la liste</a>


    </div>
{% endblock %}