{% extends 'base.html.twig' %}

{% block title %}Vol index{% endblock %}

{% block body %}
    <div class="white-box">
        <h1 class="text-center">Vue de tout les Vols</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>VilleDepart</th>
                <th>VilleArrive</th>
                <th>DateDepart</th>
                <th>HeureDepart</th>
                <th>PrixBilletInitiale</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vol in vols %}
            <tr>
                <td>{{ vol.id }}</td>
                <td>{{ vol.villeDepart }}</td>
                <td>{{ vol.villeArrive }}</td>
                <td>{{ vol.dateDepart ? vol.dateDepart|date('Y-m-d') : '' }}</td>
                <td>{{ vol.heureDepart ? vol.heureDepart|date('H:i:s') : '' }}</td>
                <td>{{ vol.prixBilletInitiale }}</td>
                <td>
                    <a href="{{ path('app_vol_show', {'id': vol.id}) }}">Voir</a>
                    <a href="{{ path('app_vol_edit', {'id': vol.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_vol_new') }}">Nouveau</a>
        <br>
        <a href="{{ path('app_admin') }}">Retour à la page d'accueil Admin</a>
    </div>
{% endblock %}
