{% extends 'base.html.twig' %}

{% block title %}Avion index{% endblock %}

{% block body %}
<div class="white-box">
    <h1 class="text-center">Vue de tout les Avions</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for avion in avions %}
            <tr>
                <td>{{ avion.id }}</td>
                <td>{{ avion.nom }}</td>
                <td>
                    <a href="{{ path('app_avion_show', {'id': avion.id}) }}">Voir</a>
                    <a href="{{ path('app_avion_edit', {'id': avion.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_avion_new') }}">Nouveau</a>
    <br>
    <a href="{{ path('app_admin') }}">← Retour à la liste</a>
</div>
{% endblock %}
